@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
   justify-self: center;
   font-size: 40px;
   font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto 1fr;
    gap: 60px;
    justify-content: center;
    /* justify-items: center; */
    padding: 30px;
}

.newBook {
    display: grid;
    grid-template-columns: auto auto 60px 100px 100px;
    gap: 40px;
    justify-content: stretch;
}

.newBook div label {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 14px;
}

.newBook div input {
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    height: 30px;
    padding: 4px 10px;
    width: 100%;
}

.newBook div select {
    height: 38px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    padding: 4px;
}

.newBook label {
    display: block;
}

.addBook {
    background: rgb(76, 192, 177);
    color: white;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 38px;
    align-self: end;
    margin: 2px;
    font-size: 12px;
    font-weight: 800;
}

.cardContainer {
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 100px;
}

.cardHeader {
    font-weight: 500;
    font-size: 14px;
    background: white;
}

.card {
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #ececec;
    align-items: center;
}

/* .delete {
    background: rgb(218, 61, 76);
    color: white;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 38px;
    align-self: end;
    margin: 2px;
    font-size: 12px;
    font-weight: 800;
} */

.delete {
    width: 20px;
    justify-self: end;
}

.cardHolder {
    display: none;
    font-style: italic;
}